/*--------------------------------
　ヘッダー
---------------------------------*/
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 11rem;
}

#header .logo {
  display: block;
}

#header .logo-name {
  font-family: 'Yesteryear', cursive;
  display: block;
  position: relative;
  top: -8px;
  left: -60px;
  font-size: 36px;
  color: #d59fea;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

#header .logo-title {
  font-family: 'Oswald', sans-serif;
  font-size: 94px;
  color: #f39ac7;
  line-height: 1;
  letter-spacing: -2px;
}

#header .logo-desc {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}